h1, h2, h3{
	font-family: Georgia;
	color: #4aaaa5;
}

body {
	margin: 0;
	padding: 0;
}

p, #message, #name, #email, form {
	font-family: Arial;
	color: #777777;
}

header {
	background-color: #ffffff;
	border-color: #cccccc;
}

footer {
	background-color: #666666;
}

#content {
	
	width: 650px;
	margin: 0;
	padding: 0;
	border: 1px solid white;
	background-color: #ffffff;
	border-color: #dddddd;
	float: left;
	margin-left: 100px;
}

#message {
	width: 200px;
	height: 200px;
}

#sidebar {

	float: right;
	width: 270px;
	border: 1px solid white;
	background-color: #ffffff;
	border-color: #dddddd;
	margin-right: 200px;


}

#pic {
	padding: 10px;
	height: 200px;
	width: 320px;
}

p {
	padding: 10px;
}

h1 {
	padding: 10px;
}

#background {
	background-color: #ddd7d7;
}

.icon {
	height: 50px;
	width: 50px;
}

footer {
	text-align: center;
	left: 0px;
	bottom: 0px;
	height: 50px;
	width: 100px;
	
}
