h1, h2, h3 {
	font-family: Georgia;
	color: #4aaaa5;
}


p, #message, #name, #email, form {
	font-family: Arial;
	color: #777777;
}

header {
	background-color: #ffffff;
	border-color: #cccccc;
}



#content {
	
	width: 55%;
	box-sizing: border-box;
	padding: 10px;
	border: 1px solid white;
	background-color: #ffffff;
	border-color: #dddddd;
	float: left;
	margin-left: 100px;
	margin-bottom: 10px;
	

}

#message {
	width: 200px;
	height: 200px;
}

#sidebar {

	float: left;
	width: 22%;
	border: 1px solid white;
	background-color: #ffffff;
	border-color: #dddddd;
	margin-left: 20px;
	box-sizing: border-box;
	padding: 20px;

	



}

#pic {
	padding: 10px;
	height: 200px;
	width: 320px;
}

p {
	padding: 10px;
}

h1 {
	padding: 10px;
}

body {
	background-color: #ddd7d7;

}

.icon {
	height: 50px;
	width: 50px;

}

 #imgs {
 	padding-left: 20px;
 	padding-top: 10px;
 	clear: both;
 }
header {
	background-color: white;
}

footer {
	
	box-sizing: border-box;
	width: 100%;
	background-color: #666666;
	bottom: 0;
	left: 0;
	right: 0;
	height: 50px;
	clear: both;
	margin-top: 10px;
	padding-top: 15px;
	text-align: center;
	

}

#background {
	width: 100%;
	clear: both;
	margin-bottom: 10px;


}